# 전처리

In [1]:
import pandas as pd
import os

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [2]:
#3점 이상만 남김
ratings = ratings[ratings["ratings"]>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [3]:
# ratings 컬럼의 이름을 counts로 변경
ratings.rename(columns={"ratings":"counts"}, inplace=True)

In [4]:
#ratings 가  counts로 바뀐 것이 맞는지 확인
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [5]:
#타임스탬프는 영화를 시청한 날을 나타내므로 선호도와 관련이 없음=> 포함시키지 않음
use_columns = ["user_id", "movie_id", "counts"]
ratings = ratings[use_columns]
ratings.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

ratings 전처리 끝

In [6]:
# 영화 제목을 보기 위해 데이터를 읽기
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
#타임스탬프는 영화를 시청한 날을 나타내므로 선호도와 관련이 없음=> 포함시키지 않음
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
#title, genre는 검색하기 쉽도록 하기 위해서 소문자로 변경
#영화 제목뒤에 붙은 년도는 제거하는 것이 맞을 수도 있으나
#리메이크의 가능성을 고려했을 때 삭제하지 않는 것이 바람직하다고 생각함

movies["title"] = movies["title"].str.lower()
movies["genre"] = movies["genre"].str.lower()

In [8]:
# | 표시를 알아보기 쉽게 ,로 변경
movies["genre"] = movies["genre"].str.replace("|", ",")

/tmp/ipykernel_312/2215937967.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies["genre"] = movies["genre"].str.replace("|", ",")

In [9]:
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   animation,children's,comedy
1         2                      jumanji (1995)  adventure,children's,fantasy
2         3             grumpier old men (1995)                comedy,romance
3         4            waiting to exhale (1995)                  comedy,drama
4         5  father of the bride part ii (1995)                        comedy

movies 전처리 끝

# 분석

In [10]:
# user_id의 갯수와 movie_id의 갯수 확인
print(ratings["movie_id"].nunique())
print(ratings["user_id"].nunique())

3628
6039

In [11]:
ratings["movie_id"].isna().sum()

0

In [12]:
ratings["user_id"].isna().sum()

0

In [13]:
ratings["counts"].isna().sum()

0

ratings에서 결측치는 존재하지 않음

In [14]:
movies["movie_id"].isna().sum()

0

In [15]:
movies["title"].isna().sum()

0

In [16]:
movies["genre"].isna().sum()

0

movies에서도 결측치는 존재하지 않음

In [17]:
#ratings와 movies를 이어붙임 = 원활한 데이터 분석을 위해
data = pd.merge(movies, ratings)
data

,movie_id,title,genre,user_id,counts
0,1,toy story (1995),"animation,children's,comedy",1,5
1,1,toy story (1995),"animation,children's,comedy",6,4
2,1,toy story (1995),"animation,children's,comedy",8,4
3,1,toy story (1995),"animation,children's,comedy",9,5
4,1,toy story (1995),"animation,children's,comedy",10,5
...,...,...,...,...,...
836473,3952,"contender, the (2000)","drama,thriller",5682,3
836474,3952,"contender, the (2000)","drama,thriller",5812,4
836475,3952,"contender, the (2000)","drama,thriller",5831,3
836476,3952,"contender, the (2000)","drama,thriller",5837,4
836477,3952,"contender, the (2000)","drama,thriller",5998,4

In [18]:
#인기있는 영화순
movie_count = data.groupby("title")["user_id"].count()
movie_count.sort_values(ascending=False).head(30)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: user_id, dtype: int64

In [19]:
# 유저별 몇 편의 영화를 평가했는지
user_count = data.groupby("user_id")["title"].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: title, dtype: float64

# 선호영화 추가

In [20]:
#영화목록 확인 - series파일을 바로 확인할 수 없기때문에 파일타입 확인
fav = movies["title"]
type(fav)

pandas.core.series.Series

In [21]:
#영화목록 확인 = tolist()를 사용하여 list 형태로 변환
bb = fav.tolist()
bb

['toy story (1995)',
 'jumanji (1995)',
 'grumpier old men (1995)',
 'waiting to exhale (1995)',
 'father of the bride part ii (1995)',
 'heat (1995)',
 'sabrina (1995)',
 'tom and huck (1995)',
 'sudden death (1995)',
 'goldeneye (1995)',
 'american president, the (1995)',
 'dracula: dead and loving it (1995)',
 'balto (1995)',
 'nixon (1995)',
 'cutthroat island (1995)',
 'casino (1995)',
 'sense and sensibility (1995)',
 'four rooms (1995)',
 'ace ventura: when nature calls (1995)',
 'money train (1995)',
 'get shorty (1995)',
 'copycat (1995)',
 'assassins (1995)',
 'powder (1995)',
 'leaving las vegas (1995)',
 'othello (1995)',
 'now and then (1995)',
 'persuasion (1995)',
 'city of lost children, the (1995)',
 'shanghai triad (yao a yao yao dao waipo qiao) (1995)',
 'dangerous minds (1995)',
 'twelve monkeys (1995)',
 'wings of courage (1995)',
 'babe (1995)',
 'carrington (1995)',
 'dead man walking (1995)',
 'across the sea of time (1995)',
 'it takes two (1995)',
 'clueless (1995)',
 'cry, the beloved country (1995)',
 'richard iii (1995)',
 'dead presidents (1995)',
 'restoration (1995)',
 'mortal kombat (1995)',
 'to die for (1995)',
 'how to make an american quilt (1995)',
 'seven (se7en) (1995)',
 'pocahontas (1995)',
 'when night is falling (1995)',
 'usual suspects, the (1995)',
 'guardian angel (1994)',
 'mighty aphrodite (1995)',
 'lamerica (1994)',
 'big green, the (1995)',
 'georgia (1995)',
 'kids of the round table (1995)',
 'home for the holidays (1995)',
 'postino, il (the postman) (1994)',
 'confessional, the (le confessionnal) (1995)',
 'indian in the cupboard, the (1995)',
 'eye for an eye (1996)',
 "mr. holland's opus (1995)",
 "don't be a menace to south central while drinking your juice in the hood (1996)",
 'two if by sea (1996)',
 'bio-dome (1996)',
 'lawnmower man 2: beyond cyberspace (1996)',
 'two bits (1995)',
 'french twist (gazon maudit) (1995)',
 'friday (1995)',
 'from dusk till dawn (1996)',
 'fair game (1995)',
 'kicking and screaming (1995)',
 'misérables, les (1995)',
 'bed of roses (1996)',
 'big bully (1996)',
 'screamers (1995)',
 'nico icon (1995)',
 'crossing guard, the (1995)',
 'juror, the (1996)',
 'white balloon, the (badkonake sefid ) (1995)',
 "things to do in denver when you're dead (1995)",
 "antonia's line (antonia) (1995)",
 'once upon a time... when we were colored (1995)',
 'last summer in the hamptons (1995)',
 'angels and insects (1995)',
 'white squall (1996)',
 'dunston checks in (1996)',
 'black sheep (1996)',
 'nick of time (1995)',
 'journey of august king, the (1995)',
 'mary reilly (1996)',
 'vampire in brooklyn (1995)',
 'beautiful girls (1996)',
 'broken arrow (1996)',
 'in the bleak midwinter (1995)',
 'hate (haine, la) (1995)',
 'shopping (1994)',
 'heidi fleiss: hollywood madam (1995)',
 'city hall (1996)',
 'bottle rocket (1996)',
 'mr. wrong (1996)',
 'unforgettable (1996)',
 'happy gilmore (1996)',
 'bridges of madison county, the (1995)',
 'nobody loves me (keiner liebt mich) (1994)',
 'muppet treasure island (1996)',
 'catwalk (1995)',
 'headless body in topless bar (1995)',
 'braveheart (1995)',
 'taxi driver (1976)',
 'rumble in the bronx (1995)',
 'before and after (1996)',
 "margaret's museum (1995)",
 'happiness is in the field (1995)',
 'anne frank remembered (1995)',
 "young poisoner's handbook, the (1995)",
 'if lucy fell (1996)',
 'steal big, steal little (1995)',
 'race the sun (1996)',
 'boys of st. vincent, the (1993)',
 'boomerang (1992)',
 'chungking express (1994)',
 "star maker, the (uomo delle stelle, l') (1995)",
 'flirting with disaster (1996)',
 'neverending story iii, the (1994)',
 'silence of the palace, the (saimt el qusur) (1994)',
 "jupiter's wife (1994)",
 'pie in the sky (1995)',
 'angela (1995)',
 'frankie starlight (1995)',
 'jade (1995)',
 'nueba yol (1995)',
 'sonic outlaws (1995)',
 'down periscope (1996)',
 'from the journals of jean seberg (1995)',
 'man of the year (1995)',
 'neon bible, the (1995)',
 'target (1995)',
 'up close and personal (1996)',
 'birdcage, the (1996)',
 'shadows (cienie) (1988)',
 'gospa (1995)',
 'brothers mcmullen, the (1995)',
 'bad boys (1995)',
 'amazing panda adventure, the (1995)',
 'basketball diaries, the (1995)',
 'awfully big adventure, an (1995)',
 'amateur (1994)',
 'apollo 13 (1995)',
 'rob roy (1995)',
 'addiction, the (1995)',
 'batman forever (1995)',
 'belle de jour (1967)',
 'beyond rangoon (1995)',
 'blue in the face (1995)',
 'canadian bacon (1994)',
 'casper (1995)',
 'clockers (1995)',
 'congo (1995)',
 'crimson tide (1995)',
 'crumb (1994)',
 'desperado (1995)',
 'devil in a blue dress (1995)',
 'die hard: with a vengeance (1995)',
 'doom generation, the (1995)',
 'feast of july (1995)',
 'first knight (1995)',
 'free willy 2: the adventure home (1995)',
 'hackers (1995)',
 'jeffrey (1995)',
 'johnny mnemonic (1995)',
 'judge dredd (1995)',
 'jury duty (1995)',
 'kids (1995)',
 'living in oblivion (1995)',
 'lord of illusions (1995)',
 'love & human remains (1993)',
 'mad love (1995)',
 'mallrats (1995)',
 'mighty morphin power rangers: the movie (1995)',
 'moonlight and valentino (1995)',
 'mute witness (1994)',
 'nadja (1994)',
 'net, the (1995)',
 'nine months (1995)',
 'party girl (1995)',
 'prophecy, the (1995)',
 'reckless (1995)',
 'safe (1995)',
 'scarlet letter, the (1995)',
 'show, the (1995)',
 'showgirls (1995)',
 'smoke (1995)',
 'something to talk about (1995)',
 'species (1995)',
 'stars fell on henrietta, the (1995)',
 'strange days (1995)',
 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)',
 'tie that binds, the (1995)',
 'three wishes (1995)',
 'total eclipse (1995)',
 'to wong foo, thanks for everything! julie newmar (1995)',
 'under siege 2: dark territory (1995)',
 'unstrung heroes (1995)',
 'unzipped (1995)',
 'walk in the clouds, a (1995)',
 'waterworld (1995)',
 "white man's burden (1995)",
 'wild bill (1995)',
 'browning version, the (1994)',
 'bushwhacked (1995)',
 'burnt by the sun (utomlyonnye solntsem) (1994)',
 'before the rain (pred dozhdot) (1994)',
 'before sunrise (1995)',
 'billy madison (1995)',
 'babysitter, the (1995)',
 'boys on the side (1995)',
 'cure, the (1995)',
 'castle freak (1995)',
 'circle of friends (1995)',
 'clerks (1994)',
 'don juan demarco (1995)',
 'disclosure (1994)',
 'dream man (1995)',
 'drop zone (1994)',
 'destiny turns on the radio (1995)',
 'death and the maiden (1994)',
 'dolores claiborne (1994)',
 'dumb & dumber (1994)',
 'eat drink man woman (1994)',
 'exotica (1994)',
 'exit to eden (1994)',
 'ed wood (1994)',
 'french kiss (1995)',
 'forget paris (1995)',
 'far from home: the adventures of yellow dog (1995)',
 'goofy movie, a (1995)',
 'hideaway (1995)',
 'fluke (1995)',
 'farinelli: il castrato (1994)',
 'gordy (1995)',
 'gumby: the movie (1995)',
 'glass shield, the (1994)',
 'hoop dreams (1994)',
 'heavenly creatures (1994)',
 'houseguest (1994)',
 'immortal beloved (1994)',
 'heavyweights (1994)',
 'hunted, the (1995)',
 'i.q. (1994)',
 'interview with the vampire (1994)',
 'jefferson in paris (1995)',
 'jerky boys, the (1994)',
 'junior (1994)',
 'just cause (1995)',
 "kid in king arthur's court, a (1995)",
 'kiss of death (1995)',
 'star wars: episode iv - a new hope (1977)',
 'little women (1994)',
 'little princess, a (1995)',
 'ladybird ladybird (1994)',
 "enfer, l' (1994)",
 'like water for chocolate (como agua para chocolate) (1992)',
 'legends of the fall (1994)',
 'major payne (1994)',
 'little odessa (1994)',
 'my crazy life (mi vida loca) (1993)',
 'love affair (1994)',
 'losing isaiah (1995)',
 'madness of king george, the (1994)',
 "mary shelley's frankenstein (1994)",
 'man of the house (1995)',
 'mixed nuts (1994)',
 'milk money (1994)',
 'miracle on 34th street (1994)',
 'miami rhapsody (1995)',
 'my family (1995)',
 'murder in the first (1995)',
 "nobody's fool (1994)",
 'nell (1994)',
 'new jersey drive (1995)',
 'new york cop (1996)',
 'beyond bedlam (1993)',
 'nemesis 2: nebula (1995)',
 'nina takes a lover (1994)',
 'natural born killers (1994)',
 'only you (1994)',
 'once were warriors (1994)',
 'poison ivy ii (1995)',
 'outbreak (1995)',
 'professional, the (a.k.a. leon: the professional) (1994)',
 'perez family, the (1995)',
 "pyromaniac's love story, a (1995)",
 'pulp fiction (1994)',
 'panther (1995)',
 'pushing hands (1992)',
 'priest (1994)',
 'quiz show (1994)',
 'picture bride (1995)',
 'queen margot (la reine margot) (1994)',
 'quick and the dead, the (1995)',
 'roommates (1995)',
 'ready to wear (pret-a-porter) (1994)',
 'three colors: red (1994)',
 'three colors: blue (1993)',
 'three colors: white (1994)',
 'red firecracker, green firecracker (1994)',
 'rent-a-kid (1995)',
 'relative fear (1994)',
 'stuart saves his family (1995)',
 'swan princess, the (1994)',
 'secret of roan inish, the (1994)',
 'specialist, the (1994)',
 'stargate (1994)',
 'santa clause, the (1994)',
 'shawshank redemption, the (1994)',
 'shallow grave (1994)',
 'suture (1993)',
 'strawberry and chocolate (fresa y chocolate) (1993)',
 'swimming with sharks (1995)',
 'sum of us, the (1994)',
 "national lampoon's senior trip (1995)",
 'to live (huozhe) (1994)',
 'tank girl (1995)',
 'tales from the crypt presents: demon knight (1995)',
 'star trek: generations (1994)',
 'tales from the hood (1995)',
 'tom & viv (1994)',
 'village of the damned (1995)',
 'tommy boy (1995)',
 'vanya on 42nd street (1994)',
 'underneath, the (1995)',
 'walking dead, the (1995)',
 "what's eating gilbert grape (1993)",
 'virtuosity (1995)',
 'while you were sleeping (1995)',
 'war, the (1994)',
 'double happiness (1994)',
 "muriel's wedding (1994)",
 'baby-sitters club, the (1995)',
 'ace ventura: pet detective (1994)',
 'adventures of priscilla, queen of the desert, the (1994)',
 'backbeat (1993)',
 'bitter moon (1992)',
 'bullets over broadway (1994)',
 'clear and present danger (1994)',
 'client, the (1994)',
 'corrina, corrina (1994)',
 'crooklyn (1994)',
 'crow, the (1994)',
 'cobb (1994)',
 'flintstones, the (1994)',
 'forrest gump (1994)',
 'four weddings and a funeral (1994)',
 'higher learning (1995)',
 'i like it like that (1994)',
 'i love trouble (1994)',
 'it could happen to you (1994)',
 'jungle book, the (1994)',
 'wonderful, horrible life of leni riefenstahl, the (die macht der bilder) (1993)',
 'lion king, the (1994)',
 'little buddha (1993)',
 "wes craven's new nightmare (1994)",
 'mask, the (1994)',
 'maverick (1994)',
 'mrs. parker and the vicious circle (1994)',
 'naked gun 33 1/3: the final insult (1994)',
 'paper, the (1994)',
 'reality bites (1994)',
 'red rock west (1992)',
 'richie rich (1994)',
 'safe passage (1994)',
 'river wild, the (1994)',
 'speed (1994)',
 'speechless (1994)',
 'timecop (1994)',
 'true lies (1994)',
 'when a man loves a woman (1994)',
 'wolf (1994)',
 'wyatt earp (1994)',
 'bad company (1995)',
 'man of no importance, a (1994)',
 's.f.w. (1994)',
 'low down dirty shame, a (1994)',
 'boys life (1995)',
 'colonel chabert, le (1994)',
 'faster pussycat! kill! kill! (1965)',
 "jason's lyric (1994)",
 'secret adventures of tom thumb, the (1993)',
 'street fighter (1994)',
 'coldblooded (1995)',
 'desert winds (1995)',
 'fall time (1995)',
 'fear, the (1995)',
 'frank and ollie (1995)',
 'girl in the cadillac (1995)',
 'homage (1995)',
 'mirage (1995)',
 'open season (1996)',
 'two crimes (1995)',
 'brother minister: the assassination of malcolm x (1994)',
 'highlander iii: the sorcerer (1994)',
 'federal hill (1994)',
 'in the mouth of madness (1995)',
 '8 seconds (1994)',
 'above the rim (1994)',
 'addams family values (1993)',
 'you so crazy (1994)',
 'age of innocence, the (1993)',
 'airheads (1994)',
 'air up there, the (1994)',
 'another stakeout (1993)',
 'bad girls (1994)',
 'barcelona (1994)',
 'being human (1993)',
 'beverly hillbillies, the (1993)',
 'beverly hills cop iii (1994)',
 'black beauty (1994)',
 'blink (1994)',
 'blown away (1994)',
 'blue chips (1994)',
 'blue sky (1994)',
 'body snatchers (1993)',
 'boxing helena (1993)',
 'bronx tale, a (1993)',
 'cabin boy (1994)',
 'calendar girl (1993)',
 "carlito's way (1993)",
 "city slickers ii: the legend of curly's gold (1994)",
 'clean slate (1994)',
 'cliffhanger (1993)',
 'coneheads (1993)',
 'color of night (1994)',
 'cops and robbersons (1994)',
 'cowboy way, the (1994)',
 'dangerous game (1993)',
 'dave (1993)',
 'dazed and confused (1993)',
 'demolition man (1993)',
 'endless summer 2, the (1994)',
 'even cowgirls get the blues (1993)',
 'fatal instinct (1993)',
 'farewell my concubine (1993)',
 'favor, the (1994)',
 'fearless (1993)',
 'fear of a black hat (1993)',
 'with honors (1994)',
 'flesh and bone (1993)',
 "widows' peak (1994)",
 'for love or money (1993)',
 'firm, the (1993)',
 'free willy (1993)',
 'fresh (1994)',
 'fugitive, the (1993)',
 'geronimo: an american legend (1993)',
 'getaway, the (1994)',
 'getting even with dad (1994)',
 'go fish (1994)',
 'good man in africa, a (1994)',
 'guilty as sin (1993)',
 'hard target (1993)',
 'heaven & earth (1993)',
 'hot shots! part deux (1993)',
 'live nude girls (1995)',
 'englishman who went up a hill, but came down a mountain, the (1995)',
 'house of the spirits, the (1993)',
 'house party 3 (1994)',
 'hudsucker proxy, the (1994)',
 "i'll do anything (1994)",
 'in the army now (1994)',
 'in the line of fire (1993)',
 'in the name of the father (1993)',
 'inkwell, the (1994)',
 "what's love got to do with it? (1993)",
 'jimmy hollywood (1994)',
 'judgment night (1993)',
 'jurassic park (1993)',
 'kalifornia (1993)',
 'killing zoe (1994)',
 'king of the hill (1993)',
 'lassie (1994)',
 'last action hero (1993)',
 'life with mikey (1993)',
 'lightning jack (1994)',
 'm. butterfly (1993)',
 'made in america (1993)',
 'malice (1993)',
 'man without a face, the (1993)',
 'manhattan murder mystery (1993)',
 'menace ii society (1993)',
 'executive decision (1996)',
 'in the realm of the senses (ai no corrida) (1976)',
 'what happened was... (1994)',
 'much ado about nothing (1993)',
 'mr. jones (1993)',
 'mr. wonderful (1993)',
 'mrs. doubtfire (1993)',
 'naked (1993)',
 'next karate kid, the (1994)',
 'new age, the (1994)',
 'no escape (1994)',
 'north (1994)',
 'orlando (1993)',
 'perfect world, a (1993)',
 'philadelphia (1993)',
 'piano, the (1993)',
 'poetic justice (1993)',
 'program, the (1993)',
 "robert a. heinlein's the puppet masters (1994)",
 'radioland murders (1994)',
 'ref, the (1994)',
 'remains of the day, the (1993)',
 'renaissance man (1994)',
 'rising sun (1993)',
 'road to wellville, the (1994)',
 'robocop 3 (1993)',
 'robin hood: men in tights (1993)',
 'romeo is bleeding (1993)',
 'romper stomper (1992)',
 'ruby in paradise (1993)',
 'rudy (1993)',
 'saint of fort washington, the (1993)',
 'savage nights (nuits fauves, les) (1992)',
 "schindler's list (1993)",
 'scout, the (1994)',
 'searching for bobby fischer (1993)',
 'second best (1994)',
 'secret garden, the (1993)',
 'serial mom (1994)',
 'shadow, the (1994)',
 'shadowlands (1993)',
 'short cuts (1993)',
 'simple twist of fate, a (1994)',
 'sirens (1994)',
 'six degrees of separation (1993)',
 'sleepless in seattle (1993)',
 'sliver (1993)',
 'blade runner (1982)',
 'son in law (1993)',
 'so i married an axe murderer (1993)',
 'striking distance (1993)',
 'harlem (1993)',
 'super mario bros. (1993)',
 'surviving the game (1994)',
 'terminal velocity (1994)',
 'thirty-two short films about glenn gould (1993)',
 'threesome (1994)',
 'nightmare before christmas, the (1993)',
 'three musketeers, the (1993)',
 'tombstone (1993)',
 'trial by jury (1994)',
 'true romance (1993)',
 'war room, the (1993)',
 'mamma roma (1962)',
 'pagemaster, the (1994)',
 'paris, france (1993)',
 'beans of egypt, maine, the (1994)',
 'killer (bulletproof heart) (1994)',
 'welcome to the dollhouse (1995)',
 'germinal (1993)',
 'chasers (1994)',
 'cronos (1992)',
 'naked in new york (1994)',
 'kika (1993)',
 'bhaji on the beach (1993)',
 'little big league (1994)',
 'slingshot, the (kådisbellan ) (1993)',
 'wedding gift, the (1994)',
 'foreign student (1994)',
 'ciao, professore! (io speriamo che me la cavo ) (1993)',
 'spanking the monkey (1994)',
 'little rascals, the (1994)',
 'fausto (1993)',
 'andre (1994)',
 'hour of the pig, the (1993)',
 'scorta, la (1993)',
 'princess caraboo (1994)',
 'celluloid closet, the (1995)',
 'metisse (café au lait) (1993)',
 'dear diary (caro diario) (1994)',
 "i don't want to talk about it (de eso no se habla) (1993)",
 'brady bunch movie, the (1995)',
 'home alone (1990)',
 'ghost (1990)',
 'aladdin (1992)',
 'terminator 2: judgment day (1991)',
 'dances with wolves (1990)',
 'tough and deadly (1995)',
 'batman (1989)',
 'silence of the lambs, the (1991)',
 'snow white and the seven dwarfs (1937)',
 'beauty and the beast (1991)',
 'pinocchio (1940)',
 'pretty woman (1990)',
 'window to paris (1994)',
 'wild bunch, the (1969)',
 'love and a .45 (1994)',
 "wooden man's bride, the (wu kui) (1994)",
 'great day in harlem, a (1994)',
 'bye bye, love (1995)',
 'criminals (1996)',
 'one fine day (1996)',
 'candyman: farewell to the flesh (1995)',
 'century (1993)',
 'fargo (1996)',
 'homeward bound ii: lost in san francisco (1996)',
 'heavy metal (1981)',
 'hellraiser: bloodline (1996)',
 'pallbearer, the (1996)',
 'jane eyre (1996)',
 'loaded (1994)',
 'bread and chocolate (pane e cioccolata) (1973)',
 'aristocats, the (1970)',
 'flower of my secret, the (la flor de mi secreto) (1995)',
 'two much (1996)',
 'ed (1996)',
 'scream of stone (schrei aus stein) (1991)',
 'my favorite season (1993)',
 'modern affair, a (1995)',
 'condition red (1995)',
 'asfour stah (1990)',
 'thin line between love and hate, a (1996)',
 'last supper, the (1995)',
 'primal fear (1996)',
 'rude (1995)',
 'carried away (1996)',
 'all dogs go to heaven 2 (1996)',
 'land and freedom (tierra y libertad) (1995)',
 'denise calls up (1995)',
 'theodore rex (1995)',
 'family thing, a (1996)',
 'frisk (1995)',
 'sgt. bilko (1996)',
 'jack and sarah (1995)',
 'girl 6 (1996)',
 'diabolique (1996)',
 'little indian, big city (un indien dans la ville) (1994)',
 'roula (1995)',
 'peanuts - die bank zahlt alles (1996)',
 'happy weekend (1996)',
 'nelly & monsieur arnaud (1995)',
 'courage under fire (1996)',
 'mission: impossible (1996)',
 'cold fever (á köldum klaka) (1994)',
 'moll flanders (1996)',
 'superweib, das (1996)',
 '301, 302 (1995)',
 'dragonheart (1996)',
 'und keiner weint mir nach (1996)',
 'mutters courage (1995)',
 'eddie (1996)',
 'yankee zulu (1994)',
 "billy's holiday (1995)",
 'purple noon (1960)',
 'august (1996)',
 'james and the giant peach (1996)',
 'fear (1996)',
 'kids in the hall: brain candy (1996)',
 'faithful (1996)',
 'underground (1995)',
 'all things fair (1996)',
 'bloodsport 2 (1995)',
 'pather panchali (1955)',
 'aparajito (1956)',
 'world of apu, the (apur sansar) (1959)',
 'mystery science theater 3000: the movie (1996)',
 'tarantella (1995)',
 'space jam (1996)',
 'barbarella (1968)',
 'hostile intentions (1994)',
 'they bite (1996)',
 'some folks call it a sling blade (1993)',
 'run of the country, the (1995)',
 'alphaville (1965)',
 'clean slate (coup de torchon) (1981)',
 'tigrero: a film that was never made (1994)',
 "eye of vichy, the (oeil de vichy, l') (1993)",
 'windows (1980)',
 "it's my party (1995)",
 'country life (1994)',
 'operation dumbo drop (1995)',
 'promise, the (versprechen, das) (1994)',
 'mrs. winterbourne (1996)',
 'solo (1996)',
 'under the domin tree (etz hadomim tafus) (1994)',
 'substitute, the (1996)',
 'true crime (1995)',
 'butterfly kiss (1995)',
 'feeling minnesota (1996)',
 'delta of venus (1994)',
 'to cross the rubicon (1991)',
 'angus (1995)',
 'daens (1992)',
 'faces (1968)',
 'boys (1996)',
 'quest, the (1996)',
 'cosi (1996)',
 'sunset park (1996)',
 'mulholland falls (1996)',
 'truth about cats & dogs, the (1996)',
 'oliver & company (1988)',
 'celtic pride (1996)',
 'flipper (1996)',

In [22]:
#내가 선호하는 5가지 영화
my_favorite = ["Jumanji (1995)", "men in black (1997)", "terminator 2: judgment day (1991)", "ghostbusters (1984)", "wallace & gromit: the best of aardman animation (1996)"]

# yyttt라는 user_id가 위 영화를 5점씩 주었다고 가정 # 이 정보를 바탕으로 추천받기위해
my_playlist = pd.DataFrame({'user_id': ['yyttt']*5, 'title': my_favorite, 'counts':[5]*5})

# user_id에 'yyttt'라는 데이터가 없다면
# 위에 임의로 만든 my_favorite 데이터를 추가
if not data.isin({"user_id":["yyttt"]})["user_id"].any():
    data = data.append(my_playlist)
    
data.tail(10)

,movie_id,title,genre,user_id,counts
836473,3952.0,"contender, the (2000)","drama,thriller",5682,3
836474,3952.0,"contender, the (2000)","drama,thriller",5812,4
836475,3952.0,"contender, the (2000)","drama,thriller",5831,3
836476,3952.0,"contender, the (2000)","drama,thriller",5837,4
836477,3952.0,"contender, the (2000)","drama,thriller",5998,4
0,NaN,Jumanji (1995),NaN,yyttt,5
1,NaN,men in black (1997),NaN,yyttt,5
2,NaN,terminator 2: judgment day (1991),NaN,yyttt,5
3,NaN,ghostbusters (1984),NaN,yyttt,5
4,NaN,wallace & gromit: the best of aardman animatio...,NaN,yyttt,5

In [23]:
#movie_id, genre는 필요없는 부분이므로 삭제 = 이 부분만 결측치가 생기게되므로
data = data.drop(columns=["movie_id", "genre"])
data.tail(10)

                                                    title user_id  counts
836473                              contender, the (2000)    5682       3
836474                              contender, the (2000)    5812       4
836475                              contender, the (2000)    5831       3
836476                              contender, the (2000)    5837       4
836477                              contender, the (2000)    5998       4
0                                          Jumanji (1995)   yyttt       5
1                                     men in black (1997)   yyttt       5
2                       terminator 2: judgment day (1991)   yyttt       5
3                                     ghostbusters (1984)   yyttt       5
4       wallace & gromit: the best of aardman animatio...   yyttt       5

In [24]:
# 고유한 유저, title을 찾아내는 코드
user_unique = data["user_id"].unique()
title_unique = data["title"].unique()

# 유저, 아티스트 indexing 하는 코드
user_to_idx = {v:k for k,v in enumerate(user_unique)}
title_to_idx = {v:k for k,v in enumerate(title_unique)}

In [25]:
#유저 수 확인 - yyttt를 추가한 이후
data["user_id"].nunique()

6040

In [26]:
# 인덱싱이 잘 되었는지 확인
print(user_to_idx['yyttt'])    # 6040명의 유저 중 마지막으로 추가된 유저이니 6039가 나와야 함
print(title_to_idx["terminator 2: judgment day (1991)"])

6039
569

In [27]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구하기
# 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거 

temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체
else:
    print('user_id column indexing Fail!!')

# temp_title_data을 통해 title 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_title_data = data['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

data

user_id column indexing OK!!
title column indexing OK!!

    title  user_id  counts
0       0        0       5
1       0        1       4
2       0        2       4
3       0        3       5
4       0        4       5
..    ...      ...     ...
0    3628     6039       5
1    1419     6039       5
2     569     6039       5
3    2462     6039       5
4     675     6039       5

[836483 rows x 3 columns]

# CSR matrix 만들기

In [28]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.title)), shape= (num_user, num_movie))
csr_data

<6040x3629 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## als_model = AlternatingLeastSquares 모델을 구성

In [29]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하는 부분
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [37]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=400, regularization=0.01, use_gpu=False, iterations=200, dtype=np.float32)

In [38]:
# als 모델은 input으로 아래 csr_data_transpose를 값으로 넣음(item X user 꼴의 matrix를 받기 때문에 Transpose해주어야함)
csr_data_transpose = csr_data.T
csr_data_transpose

<3629x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [39]:
#훈련시작
als_model.fit(csr_data_transpose)

  0%|          | 0/200 [00:00<?, ?it/s]

# 선호 영화와 사용자에 대한 벡터값 확인

In [40]:
yyttt, ghostbusters = user_to_idx["yyttt"], title_to_idx["ghostbusters (1984)"]
yyttt_vector, ghostbusters_vector = als_model.user_factors[yyttt], als_model.item_factors[ghostbusters]

In [41]:
yyttt_vector

array([-0.13788937,  0.06698648, -0.14684267, -0.06558671,  0.20143026,
        0.02065133, -0.00952304,  0.15658239,  0.16335928,  0.04353756,
        0.0267273 ,  0.17942409,  0.01020977,  0.02883414, -0.05711428,
       -0.05173185,  0.07056852, -0.23712404, -0.04946279,  0.2489242 ,
       -0.01204241, -0.01435497,  0.05490415, -0.2666654 ,  0.20609634,
       -0.17848678, -0.08921748,  0.05321425, -0.02855433, -0.09635437,
        0.0271368 , -0.0126365 , -0.06977362, -0.03724172,  0.03090444,
       -0.12318131, -0.02751229,  0.14211492,  0.02363663,  0.08496514,
        0.14516295,  0.10152077, -0.22610433, -0.14280748,  0.25495157,
        0.00568701,  0.09132111, -0.0201713 ,  0.09544934, -0.25214726,
       -0.02692058,  0.20472382, -0.0266011 ,  0.14075987, -0.24038938,
       -0.24510309,  0.06044336,  0.15102698,  0.23927033, -0.14390385,
       -0.06010812, -0.1096753 ,  0.01715902,  0.00169036,  0.0743733 ,
       -0.07644209,  0.08441053, -0.15587522, -0.04017431,  0.01997409,
       -0.10140938, -0.10156039,  0.11073811, -0.1372418 ,  0.14376189,
       -0.06579497, -0.21342975, -0.07924858,  0.10303745,  0.24783173,
       -0.06307033, -0.22192839, -0.02594521, -0.14314727,  0.1849199 ,
       -0.13031244, -0.09667625, -0.08220246,  0.12558171,  0.04855755,
        0.17921297, -0.23448382, -0.2064209 , -0.03184655,  0.02183057,
        0.06632823, -0.12882833, -0.02562358,  0.08291551, -0.18883431,
       -0.03957811, -0.22536997, -0.01316321, -0.10018855, -0.04671347,
        0.18170512, -0.02246041,  0.07752651,  0.06413135, -0.0212659 ,
       -0.08423677,  0.19836642,  0.04935459, -0.19420469,  0.07396761,
        0.0787152 , -0.02151508,  0.03345531, -0.08008536,  0.02952718,
       -0.02285121, -0.03226864, -0.06612727, -0.11375959,  0.07561432,
       -0.0655646 , -0.02332726,  0.0290339 , -0.04544235,  0.01467311,
        0.07829399, -0.2230475 , -0.02096326,  0.11316215, -0.02178878,
       -0.19460492,  0.01561668, -0.05927831,  0.04849715,  0.18357308,
       -0.06251154, -0.09367076, -0.1343425 ,  0.06024282,  0.1224182 ,
        0.0066593 , -0.13804819, -0.07147129, -0.05048584, -0.17421027,
        0.12031528, -0.09735528, -0.11430177, -0.053358  , -0.08292778,
        0.03875454,  0.1030564 , -0.12455709,  0.18095878, -0.22669423,
       -0.16791415,  0.08102737, -0.04443463,  0.03008875,  0.054341  ,
        0.1079175 , -0.03087068, -0.11955167, -0.04181881,  0.00976718,
        0.04065235,  0.17524973, -0.00484467,  0.03283286,  0.00107362,
        0.2849955 , -0.13213353,  0.14888173,  0.00783526,  0.18171519,
        0.03624329,  0.15805705, -0.13412629, -0.04606518,  0.17174661,
       -0.16875812,  0.10621304, -0.00321423, -0.02242171, -0.19524048,
       -0.04677647, -0.10479941, -0.2524026 ,  0.07535131,  0.0207319 ,
       -0.1722781 ,  0.05027504,  0.1046548 ,  0.1092202 , -0.00036623,
       -0.01086184, -0.08506707, -0.11154848,  0.00142346,  0.21117291,
        0.16452198,  0.11581978, -0.07981104,  0.03151536,  0.28883958,
        0.06888158, -0.13852608,  0.12734327, -0.03603077, -0.02029761,
       -0.03404729,  0.20988485, -0.00053709, -0.03267138, -0.09132978,
       -0.02856737, -0.07904471,  0.12919551,  0.09009764,  0.19312249,
       -0.00666348, -0.04855219,  0.03903726,  0.02726252,  0.04320481,
       -0.15811129, -0.11549427, -0.18817563, -0.16581586,  0.04630889,
        0.19507796, -0.08494311, -0.06812514, -0.03066829,  0.21126062,
       -0.13727333, -0.00566525, -0.13861363,  0.14715415,  0.08099917,
        0.09795524,  0.0152659 ,  0.0694627 ,  0.0722172 ,  0.26108286,
        0.02088874, -0.18015723, -0.06843107,  0.14425635, -0.06269377,
       -0.02662289,  0.04750251, -0.00118907, -0.22752249,  0.15566711,
       -0.16726685,  0.04823547, -0.00223331, -0.02212209, -0.09422053,
       -0.02437347, -0.06403486,  0.04329008, -0.11471518,  0.06504195,
        0.19469987, -0.17989913, -0.01469069, -0.11659835, -0.01391102,
       -0.06559125, -0.00595053,  0.21058816,  0.06421755, -0.15355326,
       -0.05711131,  0.04175645, -0.14923802, -0.06635982, -0.00635117,
       -0.1011439 ,  0.1688457 ,  0.11196829, -0.20873347, -0.06976736,
        0.1531665 ,  0.10276776, -0.04595892,  0.15421936,  0.07016864,
       -0.22661304,  0.14371122, -0.12308456, -0.02449345,  0.069067  ,
       -0.16811201,  0.10766739, -0.13071711, -0.02032542,  0.11576804,
        0.06741419,  0.19878201,  0.16016787, -0.05453779, -0.00738076,
       -0.16650994, -0.01438446,  0.13638264, -0.00862959, -0.24855669,
        0.13327529,  0.00443136,  0.06113587,  0.10428669, -0.13491279,
        0.0994366 , -0.10631021,  0.17469876, -0.184263  ,  0.07207633,
       -0.02427689,  0.01409387,  0.03378573,  0.08133012,  0.0823107 ,
       -0.24625635, -0.02574166,  0.07080404, -0.06954662,  0.15685315,
        0.08387697, -0.0794498 , -0.1714775 ,  0.01623763,  0.0080614 ,
        0.07073724,  0.0750875 , -0.14558667,  0.02285417,  0.01767571,
       -0.1309211 ,  0.16533995,  0.10815948,  0.0232895 , -0.01276784,
       -0.05311747,  0.14898904,  0.01323829, -0.0287181 , -0.00150109,
        0.11021504,  0.14434797,  0.11379103,  0.06175793, -0.06491466,
        0.18018183, -0.01373354,  0.01763252, -0.2300321 ,  0.29854292,
       -0.04365386,  0.16275536,  0.03555601, -0.02244569, -0.10359654,
        0.11737143, -0.06420812, -0.00494982, -0.02459717, -0.01977627,
        0.02818366,  0.22935763,  0.07760286,  0.0165258 , -0.07890482,
        0.02848265, -0.01384359, -0.06949579,  0.01728771, -0.10297226,
       -0.02875937,  0.09094695, -0.06766276, -0.02050865,  0.05164455,
        0.09212196,  0.01941913,  0.076727  ,  0.0039511 , -0.07716199,
        0.13317531, -0.15441664, -0.08150031,  0.06189004, -0.19339706],
      dtype=float32)

In [42]:
ghostbusters_vector

array([-2.04004347e-02,  2.13642549e-02, -3.13032418e-02,  3.93438078e-02,
        5.99058829e-02,  3.40788178e-02,  3.23829800e-02,  2.04783585e-02,
        7.15262741e-02, -6.04979768e-02,  1.32695092e-02,  8.52662101e-02,
        2.77796350e-02, -4.20868322e-02,  3.53492089e-02,  4.95809466e-02,
        8.64054188e-02, -4.95036542e-02, -1.22308517e-02,  8.99670571e-02,
        1.08584519e-02,  7.14549236e-03,  2.71570720e-02, -4.98143733e-02,
        4.00847122e-02, -4.79938798e-02,  3.72149609e-03,  8.23739450e-03,
       -6.35760128e-02,  4.09429008e-03,  3.24848965e-02, -2.93080471e-02,
        4.16787453e-02, -4.89512313e-05,  7.23015470e-03, -6.84847012e-02,
        3.38022076e-02, -3.72841116e-03,  3.29754055e-02,  3.07254959e-03,
        1.98292285e-02, -3.30325239e-03, -1.02258116e-01, -1.15164109e-01,
        3.68173644e-02,  2.77359672e-02, -3.51726897e-02,  8.83114990e-03,
        6.09842986e-02,  2.71509513e-02, -3.13868299e-02,  3.32037248e-02,
       -3.92520502e-02,  4.67434525e-02, -7.65538886e-02, -5.14062084e-02,
        1.90289710e-02,  1.72286388e-02,  4.24914584e-02,  2.43407022e-02,
        5.72839053e-04, -6.92811832e-02, -2.07209978e-02,  3.02257929e-02,
        7.54061118e-02, -2.53248960e-02,  5.30403405e-02, -3.09305806e-02,
       -2.10560951e-03,  1.99877396e-02,  1.23685515e-02, -1.20049389e-02,
        9.20246821e-03,  6.27190918e-02,  5.46739437e-03,  4.12369333e-02,
       -7.91250914e-02,  1.33627066e-02,  3.32211740e-02, -3.04623903e-03,
        1.68566639e-03,  2.25731544e-02,  2.98411511e-02,  1.89668182e-02,
        1.51164392e-02,  3.61099839e-04,  3.85888256e-02,  2.88773533e-02,
       -1.64762158e-02,  2.50373371e-02, -1.07218456e-02, -2.40729097e-02,
        9.45839379e-03, -3.00054010e-02,  8.00346434e-02,  2.51430552e-02,
       -3.97368670e-02,  3.47214006e-02,  2.66176090e-02,  8.30662064e-03,
       -1.33551313e-02, -6.01315834e-02, -7.51514882e-02,  3.06869559e-02,
       -2.04870682e-02, -1.54670114e-02, -1.00474447e-01,  2.81279143e-02,
        3.11651491e-02,  3.78925875e-02, -5.34706116e-02,  9.29134637e-02,
        4.32202071e-02, -9.51215532e-03,  2.12790594e-02,  4.14871424e-02,
        2.19334681e-02, -3.25570703e-02, -5.80031797e-03,  2.72463746e-02,
       -1.13372039e-03,  2.74002738e-02,  7.36647174e-02, -1.24323750e-02,
       -5.68302944e-02, -1.33295516e-02, -3.43648903e-02,  1.21338982e-02,
       -2.81714788e-03,  8.72365478e-03,  1.70825962e-02, -7.42835272e-03,
        4.82792296e-02,  5.90531342e-02,  2.97915936e-02, -6.43947199e-02,
        2.90510710e-02, -1.24836965e-02, -2.62749996e-02,  5.35630733e-02,
        7.43240467e-04,  3.06200422e-02, -1.61118936e-02, -4.89320345e-02,
        8.01217183e-02, -6.57147020e-02, -2.31613070e-02,  3.09447851e-03,
        1.26615074e-02, -5.85843772e-02,  4.31307405e-02, -4.67681028e-02,
       -6.18568212e-02, -3.31131853e-02,  1.19883083e-02, -4.43238672e-03,
       -1.76551298e-03,  1.53909056e-02,  7.84036762e-04, -7.97126442e-02,
       -3.87699082e-02, -1.42887253e-02, -7.23910891e-03,  5.28682843e-02,
       -1.02656158e-02, -2.36980040e-02, -3.36721214e-03,  3.16494405e-02,
       -4.33267392e-02,  2.51150560e-02, -4.82245348e-02,  4.13655564e-02,
       -8.21759645e-03,  5.20085208e-02, -5.56672178e-02,  9.19904336e-02,
        1.32842977e-02,  3.40919085e-02,  4.04180586e-03,  5.98397776e-02,
       -4.08049300e-02,  1.48182353e-02, -5.20689674e-02, -2.26684939e-02,
        5.24221584e-02, -7.63565898e-02,  8.07437971e-02,  5.63938059e-02,
       -2.96637751e-02, -3.76232490e-02,  1.45009877e-02,  6.30547991e-03,
       -1.57641503e-03,  6.56247884e-02,  2.48514581e-02, -2.31894609e-02,
        4.77146395e-02, -7.09029660e-03,  2.22473964e-02, -9.51321609e-03,
       -2.52561141e-02, -2.93479562e-02,  2.44658999e-02, -1.70366634e-02,
       -4.48036147e-03,  1.56047717e-02,  2.78233886e-02,  7.56932050e-03,
        1.00033106e-02,  2.75084302e-02, -1.70422923e-02, -5.65821826e-02,
        3.57681960e-02,  1.85469557e-02,  4.36899178e-02, -3.97373997e-02,
        3.06077152e-02, -4.85586673e-02,  2.00933721e-02,  1.00496881e-01,
       -5.25211468e-02,  2.92729270e-02, -1.70420986e-02, -6.22960925e-02,
        3.86805460e-02,  7.99443573e-03, -3.38916443e-02,  1.95803046e-02,
        5.87713793e-02,  7.72564933e-02,  5.04526496e-02, -1.53830228e-02,
        1.15435440e-02, -6.95120497e-03,  4.36023548e-02, -3.29991840e-02,
        1.14426641e-02, -1.38478996e-02, -1.63488463e-02,  1.92492642e-02,
       -3.38217169e-02,  3.35418954e-02, -3.18157077e-02,  3.28718685e-02,
        1.96979102e-02,  1.69885401e-02,  8.61038628e-04,  2.18655216e-03,
        3.32883634e-02,  8.21304098e-02,  3.25706601e-02, -3.70223522e-02,
        2.67133466e-03,  4.52301838e-02,  2.31912639e-02,  2.13805959e-03,
       -6.78757345e-03, -1.75985973e-02, -3.65098380e-02,  1.95690570e-03,
       -1.26258675e-02,  5.06194122e-03, -1.26229804e-02, -2.56067365e-02,
        1.77761388e-03,  2.47453582e-02, -3.04766484e-02,  4.12007645e-02,
       -2.13068575e-02,  3.39081660e-02,  7.18274415e-02, -6.99975789e-02,
        6.73303679e-02, -2.61740033e-02,  1.64811704e-02,  3.35765108e-02,
        2.58454345e-02,  4.11092341e-02,  1.45125920e-02,  2.44307108e-02,
       -5.83856627e-02,  4.65153204e-03, -2.07607704e-03, -1.54488049e-02,
       -5.47031127e-02,  2.82902922e-02,  3.95075381e-02,  4.42994013e-02,
        4.27465402e-02, -4.81369421e-02,  3.42061073e-02,  5.29182404e-02,
        5.37873916e-02,  1.93270482e-03, -2.02261247e-02,  3.60754952e-02,
        9.42660645e-02, -3.75016183e-02,  3.93283665e-02, -7.48126209e-03,
       -4.28617671e-02,  4.04990986e-02, -4.10181060e-02, -8.54933355e-03,
        1.92929003e-02,  2.30606832e-02,  4.23923135e-02,  5.72557151e-02,
       -1.74452662e-02,  7.00681703e-03, -3.70582752e-02,  9.04718488e-02,
       -8.37984495e-04, -1.36327893e-02, -3.41424346e-02, -2.35904218e-03,
        3.67464200e-02, -1.30768744e-02,  1.17417118e-02, -3.31928283e-02,
        3.15812859e-03,  5.49208885e-03,  9.53153765e-04, -3.67438830e-02,
        1.55845219e-02, -6.81012943e-02, -5.30736446e-02, -7.68255442e-03,
        2.95288824e-02, -3.92993875e-02, -8.17207843e-02,  3.19797099e-02,
        7.45904585e-03, -3.09589505e-02,  2.20806748e-02,  9.83224157e-03,
       -2.17742715e-02,  1.05468393e-03,  6.03558123e-02,  2.22574491e-02,
       -1.90080013e-02,  1.77300740e-02,  4.40187578e-04, -3.76978964e-02,
       -3.20075452e-02, -3.21498550e-02,  1.81688648e-02,  6.66703656e-02,
        3.92437503e-02,  4.04920466e-02, -3.63661014e-02,  3.42672179e-03,
       -8.93453732e-02, -2.57974826e-02, -3.18591222e-02,  3.19537818e-02,
       -4.91726957e-03, -1.84256900e-02,  3.09177525e-02, -8.46097246e-02,
        5.65936826e-02,  6.34010881e-03,  1.48096085e-02, -7.05336258e-02,
        9.16247740e-02,  6.82471916e-02,  9.19956062e-03, -1.72290411e-02,
       -5.76834604e-02, -1.88155510e-02, -7.64186587e-03,  5.07677570e-02,
       -5.42017482e-02, -6.87511563e-02,  2.43710000e-02,  3.73454243e-02,
        7.85961375e-02,  2.15565432e-02,  3.66307073e-03,  2.04975135e-03,
       -1.00937439e-03, -3.53102684e-02, -4.98469174e-02,  2.84963474e-02,
       -4.59572151e-02, -1.01780305e-02, -4.10352685e-02, -1.73046980e-02,
        3.67268026e-02,  4.76451255e-02,  4.99626715e-03,  9.25890822e-03,
        1.01331212e-02,  2.25362871e-02,  4.58441377e-02,  4.59580906e-02,
       -3.70229892e-02, -2.79902145e-02,  1.53664416e-02, -6.73368648e-02],
      dtype=float32)

# 모델이 예측한 선호도

In [43]:
np.dot(yyttt_vector, ghostbusters_vector)

0.86217344

factors=100, iterations=200 시 예측선호도 0.39

factors=400, iterations=200 시 예측선호도 0.86

In [46]:
#매트릭스에 대한 선호도 예측
matrixx = title_to_idx['matrix, the (1999)']
matrixx_vector = als_model.item_factors[matrixx]
np.dot(yyttt_vector, matrixx_vector)

0.12776265

# 비슷한 영화 추천받기

In [50]:
idx_to_title = {v:k for k,v in title_to_idx.items()}

def get_similar_title(title_name: str):
    title_id = title_to_idx[title_name]
    similar_title = als_model.similar_items(title_id)
    similar_title = [idx_to_title[i[0]] for i in similar_title]
    return similar_title

In [51]:
get_similar_title("ghostbusters (1984)")

['ghostbusters (1984)',
 'Jumanji (1995)',
 'ghostbusters ii (1989)',
 'gremlins (1984)',
 'random hearts (1999)',
 'for ever mozart (1996)',
 "general's daughter, the (1999)",
 'make them die slowly (cannibal ferox) (1980)',
 "ferris bueller's day off (1986)",
 'out of africa (1985)']

In [52]:
get_similar_title("Jumanji (1995)")

['Jumanji (1995)',
 'wallace & gromit: the best of aardman animation (1996)',
 'ghostbusters (1984)',
 'men in black (1997)',
 'terminator 2: judgment day (1991)',
 'bushwhacked (1995)',
 'hamlet (1964)',
 'better than chocolate (1999)',
 'monument ave. (1998)',
 'loser (2000)']

In [53]:
get_similar_title("men in black (1997)")

['men in black (1997)',
 'Jumanji (1995)',
 'jurassic park (1993)',
 'digimon: the movie (2000)',
 'my life so far (1999)',
 'terminator 2: judgment day (1991)',
 'man of no importance, a (1994)',
 'total recall (1990)',
 'bewegte mann, der (1994)',
 'female perversions (1996)']

In [54]:
get_similar_title("terminator 2: judgment day (1991)")

['terminator 2: judgment day (1991)',
 'Jumanji (1995)',
 'terminator, the (1984)',
 'total recall (1990)',
 'matrix, the (1999)',
 'city of the living dead (paura nella città dei morti viventi) (1980)',
 'men in black (1997)',
 'fugitive, the (1993)',
 'jurassic park (1993)',
 'man from down under, the (1943)']

In [55]:
get_similar_title("wallace & gromit: the best of aardman animation (1996)")

['wallace & gromit: the best of aardman animation (1996)',
 'Jumanji (1995)',
 'wrong trousers, the (1993)',
 'close shave, a (1995)',
 'grand day out, a (1992)',
 'creature comforts (1990)',
 'kid, the (1921)',
 'haunted world of edward d. wood jr., the (1995)',
 'loser (2000)',
 'nothing to lose (1994)']

# 가장 좋아할만한 영화 추천받기

In [56]:
#유저에게 추천하기
user = user_to_idx['yyttt']
# recommend에서는 user*item CSR Matrix를 받음
title_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
title_recommended

[(1041, 0.28194997),
 (693, 0.24868338),
 (1107, 0.21415704),
 (1122, 0.19322468),
 (2657, 0.1713377),
 (3546, 0.14553864),
 (2507, 0.13397174),
 (2325, 0.12776268),
 (462, 0.12267098),
 (2542, 0.12227506),
 (2463, 0.1143137),
 (853, 0.112234466),
 (1904, 0.11092536),
 (2741, 0.10852772),
 (1131, 0.10569991),
 (106, 0.10345056),
 (2050, 0.09994529),
 (2660, 0.09758504),
 (1120, 0.09574095),
 (2536, 0.09554158)]

영화 이름이 인덱스로 나오기떄문에 index_to_title로 변환이 필요

In [58]:
[idx_to_title[i[0]] for i in title_recommended]

['wrong trousers, the (1993)',
 'close shave, a (1995)',
 'grand day out, a (1992)',
 'terminator, the (1984)',
 'total recall (1990)',
 'naked gun: from the files of police squad!, the (1988)',
 'sixth sense, the (1999)',
 'matrix, the (1999)',
 'jurassic park (1993)',
 'big (1988)',
 'ghostbusters ii (1989)',
 'father of the bride (1950)',
 'addams family, the (1991)',
 'bone collector, the (1999)',
 'nikita (la femme nikita) (1990)',
 'braveheart (1995)',
 'thing, the (1982)',
 'year of living dangerously (1982)',
 'seventh seal, the (sjunde inseglet, det) (1957)',
 'airplane! (1980)']

In [59]:
wrong_trousers = title_to_idx["wrong trousers, the (1993)"]
explain = als_model.explain(user, csr_data, itemid=wrong_trousers)

In [60]:
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[('wallace & gromit: the best of aardman animation (1996)',
  0.2744289613893202),
 ('terminator 2: judgment day (1991)', 0.015065644789715435),
 ('Jumanji (1995)', 0.00045642982662666773),
 ('ghostbusters (1984)', 7.545432057014592e-05),
 ('men in black (1997)', -0.00857888431498738)]

# 회고

* 오늘따라 하고싶은 것은 많았는데, 기능만 찾다가 시간을 상당 수 쏟은 듯 합니다.
* 셀 2개를 합치기 위해서 concat을 사용했으나 이상한 결과값이 나온 탓에 비슷하면서 다른 기능인 merge를 알게 되었습니다.
* 뿐만 아니라 del 을 사용하여 columns를 제거하려 했으나 잘 되지 않은 탓에 dropna를 사용하여 columns를 제거했습니다.
* groupby를 사용할 경우 보통 1가지 값을 사용하는데, 이 경우에는 2가지 이상을 사용하여서 알아내느라 시간을 보냈습니다. 위에서 사용한 movie_count = data.groupby("title")["user_id"].count() 이 방법도 괜찮은 듯 싶지만, movie_count = data.groupby("title").sum()을 하는 것도 괜찮지 않을까 라는 생각이 듭니다.>>> 써보니 연산량이 너무 많아서 돌리는데 아주 오랜시간이 돌려서 종료했습니다. 단순히 count를 쓰는 것이 좋습니다
* 예전부터 느꼈지만 판다스를 이용한 슬라이싱부분에서 특히나 약한 모습을 보이고 있습니다. 캐글필사 외에도 다른 방법을 통해서 보완할 수 있어야겠습니다.